<footer>
	<nav class="navbar-expand-lg navbar-light bg-light">
		<button type="button" name="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
			<spanc class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="navbar-nav mx-auto">
				<a href="" class="nav-item nav-link" href="#">About</a>
				<a href="" class="nav-item nav-link" href="#">Contact Us</a>
				<a href="" class="nav-item nav-link" href="#">Support</a>
				<a href="" class="nav-item nav-link" href="#">Terms & Conditions</a>
				<a href="" class="nav-item nav-link" href="#">Privacy</a>
				<a href="" class="nav-item nav-link" href="#">Jobs</a>
				<a href="" class="nav-item nav-link" href="#">Blog</a>
			</div>
		</div>
	</nav>
</footer>
